extends layout

block content
  h1= title
  form(id='emojiForm', action="/resource/emoji", method="POST")
    div.form-group
      label.emojiAttr(for='emoji_face') emoji face
      input#emoji_face(type='text', name='emoji_face')
    div.form-group
      label.emojiAttr(for='emoji_hand') emoji hand
      input#emoji_hand(type='text', name='emoji_hand')
    div.form-group
      label.emojiAttr(for='emoji_things') emoji things
      input#emoji_things(type='number', name='emoji_things')
    input(type="submit")
    script.
      document.forms['emojiForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
          method: 'POST',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Save succeded")
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Save failed " + error )
        });
      });